community-regseb-om {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    padding: 0.7em;
}
community-regseb-om > img {
    float: left;
    height: 2.8em;
    margin-right: 0.7em;
    opacity: 0.8;
}
community-regseb-om p {
    color: white;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
community-regseb-om p a {
    color: white;
    text-decoration: none;
}
community-regseb-om p a:visited {
    color: black;
}
community-regseb-om p a:hover {
    text-decoration: underline;
}
community-regseb-om p img {
    vertical-align: middle;
    height: 10px;
}
