community-regseb-om {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
}
community-regseb-om > img {
    float: left;
    height: calc(100% - 1.4em);
    margin: 0.7em;
    opacity: 0.8;
}
community-regseb-om p {
    color: white;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
community-regseb-om p:first-of-type {
    margin-top: 0.7em;
}
community-regseb-om p:last-of-type {
    margin-bottom: 0.7em;
}
community-regseb-om p a {
    color: white;
    text-decoration: none;
}
community-regseb-om p a:visited {
    color: black;
}
community-regseb-om p a:hover {
    text-decoration: underline;
}
community-regseb-om p img {
    vertical-align: middle;
    width: 10px;
}
